#krishna-logo {
  width: 7em;
  height: 7em;
  display: inline-block;
  background: url('http://i.imgur.com/kOp7zb1.png') no-repeat;
  background-position: -35px -3px;
}
article.centered {
  text-align: center;
}
.wrapper.centered p {
  text-align: center;
}
.container.invitation {
  font-family: "Roboto Slab";
}
.caps {
  text-transform: uppercase;
}
.button2 {
  position: relative;
  background: rgba(52, 196, 92, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 0.65em 3em 0.65em 3em;
  border: 0;
  cursor: pointer;
  outline: 0;
  border: 2px dotted #fff;
}
.byline-small {
  font-size: .8em;
}
.image.featured2 {
  display: block;
  width: 80%;
  margin: 0 auto 2em;
}
.animated {
  display: inline-block;
}
ul.bulleted li+li{
  list-style-type: disc;
}
ul.bulleted h3 {
  text-decoration: underline;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}

.animated.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}
.animated.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes tada {
  0% {-webkit-transform: scale(1);}
  10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
  40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
  100% {-webkit-transform: scale(1) rotate(0);}
}
@keyframes tada {
  0% {transform: scale(1);}
  10%, 20% {transform: scale(0.9) rotate(-3deg);}
  30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
  40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
  100% {transform: scale(1) rotate(0);}
}

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: .2;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: .2;}
}

#krishna-logo {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-name: glow;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;

  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 20px rgb(250, 250, 250);
    border-color: rgb(0,0,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 20px rgb(250, 250, 250), 0 0 50px rgb(255, 255, 255);
    border-color: rgb(0,0,255,1.0);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgb(250, 250, 250);
    border-color: rgb(0,0,255,0.5);
  }
  100% {
    box-shadow: 0 0 20px rgb(250, 250, 250), 0 0 50px rgb(255, 255, 255);
    border-color: rgb(0,0,255,1.0);
  }
}
